<div class="container d-flex flex-column justify-content-center align-items-center">
<h1>SOMETHING WENT WRONG !</h1>
<img src="https://i.ibb.co/PMgQ48Y/10400-10-01-Photoroom-png-Photoroom.png" alt="a sad injured cat with a broken paw, tail and ear">
<h1>TRY AGAIN  !</h1>
<a href="/"><button class="btn btn-primary">Back to home</button></a>
</div>