<div class="container d-flex flex-column justify-content-center align-items-center">
<h1>THANK YOU FOR YOUR PURCHASE !</h1>
<img src="https://i.ibb.co/K00Nx1N/4400-14-07-Photoroom-1.png" alt="little cat in a box">
<h1>SEE YOU SOON !</h1>
<a href="/"><button class="btn btn-primary">Back to home</button></a>
</div>