<div class="container-fluid cart_background">
  <div class="row">
    <div class="col-md-9 column d-flex"> <!-- Début de la div des cartes -->
  
      <div class="row cart_card">
          <div id=cart-item-picture, class="d-flex justify-content-center align-items-center col-2">
            <img src="https://media.istockphoto.com/id/508030340/fr/photo/sunny-chat.jpg?s=2048x2048&w=is&k=20&c=Pwg60DIr0iYbQLwDXCHfdhfUgRKq7UdQsq6bfyAIaGA=" class="img-fluid" alt="">
          </div>
          <div class="cart-item-text col-8">
            <p>Tamen superior ruitura congredi ferrum est pugnandi adluit magnitudo salutis ferrum magnitudo superior tamen exiluit cuius ruitura flagrans ponte numero et ferrum tamen murorum eduxere sine ruitura adluit fidis rectores.</p>
          </div>
          <div class="cart-item-summary col-2">
            <p>Prix: XXXX</p>
            <p>Quantity: XXXX</p>
            <button class="btn btn-secondary">Delete</button>
          </div>
      </div>
    </div> <!-- Fin de la div des cartes -->

    <div class="col-md-3">
      <h1>PARTIE TOTAL</h1>
    </div>
    </div>
  </div>
</div>