<div id="<%= dom_id item %>">
<div class="card card-color col-lg-4" style="width: 18rem;">
<img class="card-img-top" src="https://media.istockphoto.com/id/508030340/fr/photo/sunny-chat.jpg?s=2048x2048&w=is&k=20&c=Pwg60DIr0iYbQLwDXCHfdhfUgRKq7UdQsq6bfyAIaGA=" alt="Card image cap">
  <div class="card-body ">
    <h5 class="card-title"><strong><%= item.title %></strong></h5>
    <p class="card-text"><%= item.description %></p>
    <p class="card-text"><strong>Price:</strong> <%= item.price %></p>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary">Photo link</button>
    <button type="button" class="btn btn-primary">Add to cart </button>

    
    </div>
</div>

